In [5]:
from pandas import read_csv
from storm_lists import WG19

In [6]:
omni_data = read_csv("SYMH.csv")

In [7]:
storms = WG19(omni_data["time"].values, omni_data["SYM-H"].values)

In [8]:
storms.list

,initial_phase,main_phase,recovery_phase,end,minimum_symh,category
0,2024-03-02 09:24:00,2024-03-03 13:45:00,2024-03-03 18:00:00,2024-03-05 22:34:00,-128,1
1,2024-03-19 23:11:00,2024-03-21 12:50:00,2024-03-21 19:35:00,2024-03-22 11:10:00,-81,1
2,2024-03-22 23:02:00,2024-03-23 18:02:00,2024-03-23 21:33:00,2024-03-24 14:36:00,-92,1
3,2024-03-24 14:37:00,2024-03-24 15:10:00,2024-03-24 16:21:00,2024-03-25 05:19:00,-174,2
4,2024-03-24 14:37:00,2024-03-25 05:44:00,2024-03-25 06:58:00,2024-03-27 07:41:00,-82,1
5,2024-04-17 22:26:00,2024-04-19 07:36:00,2024-04-19 19:21:00,2024-04-23 16:12:00,-139,1
6,2024-05-01 08:43:00,2024-05-02 14:28:00,2024-05-02 19:43:00,2024-05-04 15:52:00,-100,1
7,2024-05-07 18:02:00,2024-05-10 18:08:00,2024-05-11 02:14:00,2024-05-19 20:08:00,-518,3
8,2024-06-26 21:31:00,2024-06-27 22:56:00,2024-06-28 12:06:00,2024-06-30 00:40:00,-119,1
9,2024-08-03 04:51:00,2024-08-04 05:53:00,2024-08-04 17:04:00,2024-08-05 21:51:00,-118,1
10,2024-08-06 13:23:00,2024-08-12 03:04:00,2024-08-12 16:52:00,2024-08-14 23:59:00,-216,2
11,2024-08-25 07:23:00,2024-08-28 00:10:00,2024-08-28 06:25:00,2024-08-29 03:02:00,-95,1
12,2024-08-29 03:58:00,2024-08-30 12:16:00,2024-08-31 06:22:00,2024-08-31 16:39:00,-84,1
13,2024-09-09 05:03:00,2024-09-12 07:21:00,2024-09-12 20:31:00,2024-09-16 23:30:00,-130,1
14,2024-09-16 23:31:00,2024-09-17 00:06:00,2024-09-17 04:24:00,2024-09-20 07:36:00,-144,1
15,2024-09-30 23:11:00,2024-10-07 10:54:00,2024-10-08 07:44:00,2024-10-10 05:13:00,-155,2
16,2024-10-10 14:49:00,2024-10-10 16:14:00,2024-10-10 23:14:00,2024-10-13 22:35:00,-390,3
17,2024-11-08 01:28:00,2024-11-08 21:22:00,2024-11-09 12:37:00,2024-11-12 00:05:00,-109,1